
.nav-bar{
    width: 100%;
    height: auto;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    border-bottom: solid 2px #BDBDBD;
}

#suno-logo{
    width: 112px;
    padding: 50px;
}

a {
    color: #FCFCFC;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}

a:hover { /* Remove the space here */
    text-decoration: underline;
    text-decoration-color: #FBB03B;
}


#landing-cover{
    width: 100%;
    height: auto;
}

.banner{
    align-items: center;
    justify-content: center;
}

.ratings{
    display: flex;
    width: 80%;
    background-color: #FDFDFC;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 41px;
    border: solid 2px #BDBDBD;
    padding: 0px 100px 0px 100px;
    margin-top: -64px;
    position:relative;
    z-index: 2;
}

.ratings-container{
    align-items: left;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

h2{
    font-size: 64px;
    color: #2A2C91;
    font-family: 'poppins';
    margin: 0;
}

p{
    font-family: 'work sans';
    font-size: 16px;
}

.commitments, .services{
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
}

.features{
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
}

.features-heading{
    width: 100%;
    justify-content: space-between;
    background-color: #FFFF;
    height: max-content;
    padding: 32px;
}

h3{
    font-family: 'work sans';
    font-size: 59px;
    font-weight: 300;
}

.sudoC-button{
    border-radius: 40px;
    padding: 16px;
    font-family: 'work sans';
    color: #2A2C91;
    width: 200px;
    height: min-content;
    border: solid 2px #2A2C91;
}

#commitments-group{
    height: 400px;
    width: auto;
}

.sliding-carousel{
    width: 100%;
    background-color: #1E1E1E;
    height: 175px;
    position: relative;
    z-index: 100;
}


.services-heading, .services,  .features-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-description{
    display: flex;
    justify-content: space-between;
    margin: 16px;
    width: 100%;
    align-items: center;
}

.services-icon{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #FBB03B;
}

h4{
    font-family: 'work sans';
}

.services-anchor{
    display: flex;
    justify-content: space-between;
    background-color: #F7F6F3;
    align-items: center;
    padding: 0px 15px 0px 15px;
    border-radius: 32px;
    border: solid 2px #BDBDBD;
    margin: 16px;
    width: 100%;
}

.anchor-icon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #2E3192;
}
.services-right-panel{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.features-heading-container{
    display: flex;
}

.feature-descriptions{
    border-radius: 32px;
    display: flex;
    justify-content: center;
    padding: 0px 16px 0px 16px;
    align-items: center;
}

.feature-descriptions-container{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

#tag1{
    border: solid 2px #D72D5A;
    color: #D72D5A;
}

#tag2{
    border: solid 2px #FBB03B;
    color: #FBB03B;
}

#tag3{
    border: solid 2px #29ABE2;
    color: #29ABE2;
}

#tag4{
    border: solid 2px #F15A24;
    color: #F15A24;
}