.nav-bar{
    width: 100%;
    height: auto;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    border-bottom: solid 2px #BDBDBD;
}

#suno-logo{
    width: 192px;
    padding: 50px;
}

a {
    color: #FCFCFC;
    padding: 10px;
    font-family: 'Work Sans';
    text-decoration: none;
}

a:hover { /* Remove the space here */
    text-decoration: underline;
    text-decoration-color: #FBB03B;
}


#landing-cover{
    width: 100%;
    height: auto;
}

.banner{
    align-items: center;
    justify-content: center;
}

.ratings{
    display: flex;
    width: 80%;
    background-color: #FDFDFC;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 41px;
    border: solid 2px #BDBDBD;
    padding: 0px 100px 0px 100px;
    margin-top: -64px;
    position:relative;
    z-index: 2;
}

.ratings-container{
    align-items: left;
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.ratings-container h2{
    font-size: 64px;
    color: #2A2C91;
    font-family: 'poppins';
    margin: 0;
}

p{
    font-family: 'work sans';
    font-size: 16px;
}

.commitments, .services{
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
}

.features, .blog-headings{
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    flex-direction: column;
    height: auto;
}

.features-heading{
    width: 100%;
    justify-content: space-between;
    background-color: #FFFF;
    height: max-content;
    padding: 32px;
}

h3{
    font-family: 'work sans';
    font-size: 59px;
    font-weight: 300;
}

.sudoC-button{
    border-radius: 40px;
    padding: 16px;
    font-family: 'work sans';
    color: #2A2C91;
    width: 200px;
    height: min-content;
    border: solid 2px #2A2C91;
}

#commitments-group{
    height: 400px;
    width: auto;
}

.sliding-carousel {
    background-color: #1E1E1E;
    height: 175px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
}

.logos-wrapper {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
}

.logos-wrapper img {
    height: 48px;
    margin: 0 90px;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}


.services-heading, .services,  .features-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-description{
    display: flex;
    justify-content: space-between;
    margin: 16px;
    width: 100%;
    align-items: center;
}

.services-icon{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #FBB03B;
}

h4{
    font-family: 'work sans';
}

.services-anchor{
    display: flex;
    justify-content: space-between;
    background-color: #F7F6F3;
    align-items: center;
    padding: 16px;
    border-radius: 24px;
    border: solid 2px #BDBDBD;
    margin: 16px;
    width: 100%;
}

.anchor-icon{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #2E3192;
}
.services-right-panel{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.features-heading-container{
    display: flex;
}

.feature-descriptions {
    border-radius: 32px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 8px; 
    text-align: center;
    min-height: 40px; 
}


.feature-descriptions {
    border-radius: 32px;
    display: inline-flex; /* Changed from flex to inline-flex */
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    text-align: center;
    min-height: 40px;
    width: fit-content; /* Ensures tag only takes the content's width */
}

#tag1{
    border: solid 2px #D72D5A;
    color: #D72D5A;
}

#tag2{
    border: solid 2px #FBB03B;
    color: #FBB03B;
}

#tag3{
    border: solid 2px #29ABE2;
    color: #29ABE2;
}

#tag4{
    border: solid 2px #F15A24;
    color: #F15A24;
}

#parallax-scroll{
    width: 100%;
    height: auto;
}

.blog{
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
    flex-direction: column;
}

.blog-nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-bottom: solid 2px #BDBDBD;
    color: #091353;
    text-decoration: none;
    font-family: 'Work Sans';
}

.faqs{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer{
    background-color: #1E1E1E;
    height: 664px;
    width: 100%;
}

.footer-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-headings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-logo{
    height: 85px;
}

.socialmedia-icons i{
    color: #ffff;
}

.copyright{
    background-color: #D72D5A;
    height: 63px;

}

.copyright-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.footer-pannels{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.suno-testimonials {
    height: 856px;
    background-color: #2E3192;
    border-radius: 40px;
    margin: 0 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'eina 01';
}

.suno-testimonials .circle {
    left: 50%;
    top: -25px;
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #2E3192;
    border-radius: 50%;
    transform: translateX(-50%);
}

.circle img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orange-sprite img {
    height: 251px;
    width: 251px;
    position: absolute;
    top: 10px;
    left: -75.72px;
    transform: rotate(8.09deg);
}

.green-sprite img {
    height: 251px;
    width: 251px;
    position: absolute;
    right: -80px;
    bottom: -120px;
    transform: rotate(-10.12deg);
}

.suno-testimonials-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    color: white;
}

.suno-testimonials-logo h1 {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 49px;
}

.suno-testimonials-logo img {
    height: 37px;
}

.carousel-container {
    width: 1117px;
    margin-top: 75.6px;
}

.swiper {
    width: 100%;
    height: 330px;
    padding: 20px 0;
}

.swiper-wrapper {
    height: 100%;
}

.swiper-slide {
    background: #FCFCFC;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20px;
    padding: 37.33px 50px ;
}

.client-image {
    background-color: #091353;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review, .client {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.review {
    color: #2E3192;
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -3%;
}

.star-review {
    margin-bottom: 16px;
}

.client h3 {
    font-size: 20px;
    color: #2E3192;
}

.client p {
    font-size: 13px;
    margin-top: -14px;
    color: #787878;
}

.testimonial-text {
    color: #E8E8E8;
    font-size: 16px;
    text-align: center;
    margin: 100px 400px;
}


.faqs {
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    margin-top: 116px;
    margin-bottom: 136px;
    margin-left: 198px;
    margin-right: 198px;
    font-family: 'Poppins';
    width: 1044px;
}

.faqs h1 {
    font-size: 49px;
    letter-spacing: -3%;
    font-weight: 400;
    margin-bottom: 37px;
}

.faqs-accordion {
    width: 100%;
    background: #F1F0EA;
    color: #1E1E1E;
    padding: 18px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -3%;
    cursor: pointer;
    outline: none;
    border: 2px solid #BDBDBD;
    border-radius: 50px;
    height: 68px;
    margin: 9px 0;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqs-accordion:hover {
    background-color: #ccc;
}
.plus-icon {
    transition: 0.4s;
}
.active .plus-icon {
    transform: rotate(45deg);
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.diamond-sprite {
    position: absolute;
    left: -620px;
    height: 365px;
}